.postCard {
  background: var(--colors-white);

  padding: 0.75rem;

  box-shadow: 0px 4px 10px rgba(187, 225, 250, 0.25);
  border-radius: 4px;

  max-height: 295px;
  h2 {
    margin-bottom: var(--spacing-15);
  }
  &-title {
    font-size: var(--font-size-4);
    color: var(--text-primary);
  }
  &-date {
    font-size: var(--font-size-2);
    font-weight: var(--font-weigth-normal);
    color: var(--text-primary);
    margin-bottom: var(--spacing-20);
  }
}


@media only screen and (min-width: 1024px) {
 .postCard {
  height: 295px;
 }
}
