
.navigator {
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: var(--z-index-40);

  height: 100%;
  position: relative;

  ul {
    display: flex;
    flex-direction: column;

    justify-content: space-around;
    list-style: none;
    text-align: center;
    height: 80%;

    li {
      color: #fff;
      font-size: 24px;
      a {
      color: #fff;

      }
    }
  }
}
