.recentPosts {

  background-color: var(--colors-blue-0);

 
display: flex;
flex-direction: column;

align-items: center;
&-title {
  font-weight: var(--font-wigth-normal);
  font-size:  var(--font-size-3);
  text-align: center;

  padding: 1rem 0 ;
}

  &-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 2fr));
    grid-gap: 1rem;
  }

}