@mixin flex-box($f1, $f2, $wrap, $direction){
    display: flex;
    justify-content: $principal;
    align-items: $cruzado;
    flex-wrap: $wrap;
    flex-direction: $direction;
}

$breakpoints: (
    sm: 540px,
    md: 768px,
    lg: 1024px,
);

@mixin media-up($breakpoint) {
     @media (min-width: map-get($breakpoints, $breakpoint )) {
         @content;
        }
}
