:root {
  --font-p: 1.8rem;
  --font-h1: 3rem;
  --font-h2: 2.4rem;
  --font-h3: 2rem;
  --base-color: #06c5ff;
  --color-background: #202833;
  --color-background-second: #090c0f;
  --color-neutral: #e1e3e8;
  --color-purple: #6a70ff;
  --color-action: #06c5ff;
  --color-text: #f2f2f2;

  /* ========== Font and typography ========== */
  --body-font: "Roboto", sans-serif;

  /* ========== Font weight ========== */
  --font-medium: 500;
  --font-semi-bold: 600;

  /* ========== Margenes Bottom ========== */

  /* .25rem = 4px, .5rem = 8px, .75rem = 12px ... */
  --mb-0-25: 0.25rem;
  --mb-0-5: 0.5rem;
  --mb-0-75: 0.75rem;
  --mb-1: 1rem;
  --mb-1-5: 1.5rem;
  --mb-2: 2rem;
  --mb-2-5: 2.5rem;
  --mb-3: 3rem;
  --space: 1rem;
}

html {
  overflow-x: hidden;
  box-sizing: border-box;
  scroll-behavior: smooth;
  font-family: var(--font-family-primary);
}

*,
*::before,
*::after {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}

body {
  background-color: var(--background-white-base);
  font-family: var(--font-size-base);
  color: var(--text-primary);
}

/* @media (prefers-color-scheme: dark) {
  body {
    background-color: rgb(24, 24, 31);
    color: rgb(238, 238, 238);
  }
} */

a {
  text-decoration: none;
}

/* Burget button */

#top,
#bottom {
  transition: stroke-dashoffset 0.5s cubic-bezier(0.4, 0, 0.2, 1);
}

#middle {
  opacity: 1;
  transition: opacity 0.5s cubic-bezier(0.4, 0, 0.2, 1);
}

#Layer_1 {
  margin-top: 4px;
}

.line {
  fill: none;
  stroke: var(--text-primary);
  stroke-miterlimit: 10;
  stroke-width: 1.6px;
}

path {
  stroke-dasharray: 25 45;
  stroke-dashoffset: 0;
}

button {
  background: none;
  border: none;
}

.x {
  position: relative;
  z-index: var(--z-index-50);
}

.x .line {
  stroke: var(--colors-primary);
}

.x #middle {
  opacity: 0;
}

.x #top,
.x #bottom {
  stroke-dashoffset: -45;
}

/* ==================== LAYOUT ==================== */
.container {
  max-width: 768px;
  margin-left: var(--mb-1-5);
  margin-right: var(--mb-1-5);
}

.grid {
  display: grid;
  gap: 1.5rem;
}

.wrapper {
  position: relative;

  --wrapper-width: 90%;

  padding-right: calc(50vw - (var(--wrapper-width) / 2));
  padding-left: calc(50vw - (var(--wrapper-width) / 2));
}

@media only screen and (min-width: 1024px) {
  .wrapper {
    --wrapper-width: 70%;

    padding-left: calc(50vw - (var(--wrapper-width) / 2.5));
  }
}

@media only screen and (min-width: 1280px) {
  .wrapper {
    --wrapper-width: 1216px;
  }
}

@media only screen and (min-width: 1504px) {
  .wrapper {
    --wrapper-width: 1440px;
  }
}
